{% load i18n %}
{% load static i18n %}

<!-- Header================================================== -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div id="logo_home">
                  <h1><a href="" title="{{ site.name }}">{{ site.name }}</a></h1>
                </div>
            </div>
            <nav class="col-9">
                <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                <div class="main-menu">
                    <div id="header_menu">
                        <img src="{% static 'frontend/img/logoy.svg' %}" width="115" height="50" alt="ani">
                    </div>
                    <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                    <ul>
                        <li class="submenu">
                            <a  href="{% url 'anipages:home' %}" class="show-submenu">{% trans "Home" %}</a>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="show-submenu">{% trans "Insurance services" %} <i class="icon-down-open-mini"></i></a>
                            <ul>
                                <li><a href="{% url 'anipages:car_insurance' %}">{% trans "Car Insurance" %}</a></li>
                                <li><a href="{% url 'anipages:home_insurance' %}">{% trans "Home Insurance" %}</a></li>
                                <li><a href="{% url 'anipages:health_insurance' %}">{% trans "Health Insurance" %}</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                          <a href="{% url 'anipages:contacts' %}" class="show-submenu">{% trans "Contact" %}</a>
                        </li>
                    </ul>
                </div><!-- End main-menu -->
            </nav>
        </div>
    </div>
</header>


 