{% extends "frontend/base.html" %}
{% load static  %}

{% block content %}  
 
<div id="slider" class="banner banner-slider carousel slide carousel-fade">
    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <!-- // -->
        <div class="item active">
            <div class="fill slider-1">
                <div class="banner-content">
                    <div class="container">
                        <div class="row">
                            <div class="banner-text light">
                                <h4 class="title-intro-sub">Insurance your Car with</h4>
                                <h2 class="title-intro">Insurify</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // -->
        <div class="item">
            <div class="fill slider-2">
                <div class="banner-content">
                    <div class="container">
                        <div class="row">
                            <div class="banner-text light">
                                <h4 class="title-intro-sub">Insurance Your Business With</h4>
                                <h2 class="title-intro">Insurify</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // -->
        <div class="item">
            <div class="fill slider-3">
                <div class="banner-content">
                    <div class="container">
                        <div class="row">
                            <div class="banner-text light">
                                <h4 class="title-intro-sub">Protect almost Anything With</h4>
                                <h2 class="title-intro">Insurify</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // -->
    </div>
    <!-- Arrow Controls -->
    <a class="left carousel-control" href="#slider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#slider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- Content -->
<div class="section section-content section-pad bg-light">
	<div class="container">
		<div class="content row">

			<div class="box-s1 pd-x5 no-round">
				<div class="row row-vm">
					<div class="col-sm-6 res-m-bttm pad-r-md">
						<h2 class="color-primary">Insurify offering Auto, Boat, Business, Car, Flood, Home &amp; Motorcylce Insurance.</h2>
						<h4>Quality coverage at competitive rates.</h4>
						<p>As a full-service independent insurance company sed ut perspiciatis unde omnis. Iseste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ollo inventore.</p>
						<h5>We're helps you to making decisions about insurance.</h5>
					</div>
					<div class="col-sm-6 pad-l-md">
						<img src="{% static 'frontend/image/photo-md-m.jpg' %}" alt="">
					</div>
				</div>
			</div>

			<div class="gaps size-md"></div>

			<div class="row">
				<div class="col-sm-6 res-s-bttm">
					<div class="feature-imagebox has-bg light pd-x5">
						<div class="block">
							<span class="gaps size-lg"></span>
							<h3>Switch to Insurify <strong>Home</strong> <br> <strong>Insurance</strong> and you could 
								<br><strong>Save up 16%</strong>.</h3>
								<a href="#" class="btn-link">Learn about homeowners</a>
							</div>
							<div class="imagebg-3ft">
								<img src="{% static 'frontend/image/photo.jpg' %}" alt="">
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="feature-imagebox has-bg light pd-x5">
							<div class="block">
								<span class="gaps size-lg"></span>
								<h3>Protecting <strong>Auto + Property</strong> <br> <strong>Insurance</strong> now you could <br><strong>Save 5% extra.</strong></h3>
								<a href="#" class="btn-link">Learn about personal</a>
							</div>
							<div class="imagebg-3ft">
								<img src="{% static 'frontend/image/photo-md-p.jpg' %}" alt="">
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- End Content -->
	<!-- Content -->
	<div class="section section-contents section-pad">
		<div class="container">
			<div class="content row">
				
				<div class="row">
					<div class="col-sm-6">
						<h4 class="heading-sm-lead">Who We Are</h4>
						<h2 class="heading-lead">We're one of World’s largest Insurance Agency throughout the USA and Canada.</h2>
						<p>Throughout our history of serving nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Ut enim ad minim veniam, quis nostrud exercation ullamco. Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
						<p><a href="#" class="btn-link focus">More about us</a></p>
					</div>
				</div>
				

			</div>
		</div>
		<div class="imagebg">
			<img src="{% static 'frontend/image/plx-air-a.jpg' %}" alt="">
		</div>
	</div>
	<!-- End content -->
	<!-- Section -->
	<div class="section section-pad-sm has-bg bg-primary light-filter light">
		<div class="container">
			<div class="content row">

				<div class="col-sm-5 pull-right">
					<h3 class="mb-x1">How Much Life Insurance Do I Need?</h3>
					<p>Find the life insurance coverage that best fits your needs.</p>
					<span class="gaps size-sm"></span>
					<a href="{% url 'anipages:get_started' %}" class="btn btn-light">Get Started</a>
				</div>
				
			</div>
		</div>
		<div class="imagebg">
			<img src="{% static 'frontend/image/plx-life.jpg' %}" alt="">
		</div>
	</div>
	<!-- End Section -->
	<!-- Content -->
	<div class="section section-content section-pad">
		<div class="container">
			<div class="content row">

				<div class="row row-column-md">
					<div class="col-md-4 col-sm-6">
						<h5 class="color-primary">Our Family Helping your Family</h5>
						<div class="image"><img src="{% static 'frontend/image/photo-md-j.jpg' %}" alt=""></div>
						<p>Whether you’re looking for protection for you, tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercation ullamco laboris nisi ution aliquip exon commodo.</p>
					</div>
					<div class="col-md-4 col-sm-6">
						<h5 class="color-primary">We serve people, not policies</h5>
						<div class="image"><img src="{% static 'frontend/image/photo-md-d.jpg' %}" alt=""></div>
						<p>As an independent agency, we put the focus tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercation ullamco laboris nisi ution aliquip exon commodo.</p>
					</div>
					<div class="col-md-4 col-sm-12">
						<h5 class="color-primary">Available Coverage Includes:</h5>
						<ul class="list-style checkmark">
							<li><strong>Commercial Insurance</strong></li>
							<li><strong>Auto Insurance</strong></li>
							<li><strong>Benefit Programs</strong> (including Life, Health and Annuities)</li>
							<li><strong>Auto Service Programs</strong> <br>(protecting enim ad minim veniam, quis nostrud exercation ullamco laboris nisi ution aliquip exon commodo and much, much more)</li>
							<li><strong>Homeowner’s Insurance</strong></li>
						</ul>
						<p><a href="#" class="block btn btn-alt">Need to talk to us directly?</a></p>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- End Content -->
	<!-- Content -->
	<div class="section section-contents section-pad bg-light">
		<div class="container">
			<div class="content row">
				
				<h2>How Insurifytects You</h2>
				<div class="row row-column-md mgtop-md">
					<div class="col-sm-4">
						<h4 class="color-primary">Preferred rates available</h4>
						<p>Helps to sed quia non numquam empora incidunt ut lare et dolore magnam aliquam runt mollitia.</p>
					</div>
					<!-- // -->
					<div class="col-sm-4">
						<h4 class="color-primary">Convenient application process</h4>
						<p>We helps to protect financially quiuam est qui dolorem ipsum quia dolor sit amet runt molli.</p>
					</div>
					<!-- // -->
					<div class="col-sm-4">
						<h4 class="color-primary">Commission-free advice</h4>
						<p>Helps to protect you sit aspeatur aut odit aut conseq uuntur runt mollitia animi magni dolores.</p>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- End content -->
	<!-- Testimonials -->
	<div class="section section-quotes section-pad has-bg dark-filter light">
		<div class="container">
			<div class="content row">
				<h2 class="center">What Our Customers are Saying</h2>
				<div class="testimonials style-v2">
					<div id="testimonial" class="quotes-slider wide-sm">
						<div class="owl-carousel loop has-carousel" data-items="1" data-loop="true" data-dots="true" data-auto="true" data-navs="true">
							<div class="item center">
								<!-- Each Quotes -->
								<div class="quotes">
									<div class="quotes-text">
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam.</p>
									</div>
									<h5>John Doe</h5>
								</div>
								<!-- End Quotes -->
							</div>
							<!-- End Slide -->
							<!-- Each Slide -->
							<div class="item center">
								<!-- Each Quotes -->
								<div class="quotes">
									<div class="quotes-text center">
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.</p>
									</div>
									<h5>John Doe</h5>
								</div>
								<!-- End Quotes -->
							</div>
						</div>
						<!-- End Slide -->
					</div>
				</div>

			</div>
		</div>
		<div class="section-bg imagebg">
			<img src="{% static 'frontend/image/plx-quotes.jpg' %}" alt="">
		</div>
	</div>
	<!-- End Section -->
	<!-- Content -->
	<div class="section section-contents section-pad">
		<div class="container">
			<div class="content row">
				
				<div class="wide-md center">
					<h3><strong>Insurify helps YOUR</strong><br>Needs and Requirements</h3>
					<div class="row row-column-md mgtop">
						<div class="col-sm-4">
							<div class="image image-md circle"><img src="{% static 'frontend/image/photo-sq-g.jpg' %}" alt=""></div>
							<h5 class="color-primary">Home Loan Solutions</h5>
							<p>You are covered sed quia non numquam empora incidunt ut lare et dolore mag.</p>
						</div>
						<!-- // -->
						<div class="col-sm-4">
							<div class="image image-md circle"><img src="{% static 'frontend/image/photo-sq-e.jpg' %}" alt=""></div>
							<h5 class="color-primary">Car Buying Services</h5>
							<p>New car buyers porro quiuam est qui dolorem ipsum quia dolor sit amet velit.</p>
						</div>
						<!-- // -->
						<div class="col-sm-4">
							<div class="image image-md circle"><img src="{% static 'frontend/image/photo-sq-j.jpg' %}" alt=""></div>
							<h5 class="color-primary">Retirement Solutions</h5>
							<p>Looking for retirement quia voluptas sit aspeatur aut odit aut conseq uuntur.</p>
						</div>
					</div>
				</div>
				

			</div>
		</div>
	</div>
	<!-- End content -->
	<!-- Latest News -->
	<div class="section section-news section-pad bg-light">
		<div class="container">
			<div class="content row">

				<h2 class="center">Insurance Update from Blog</h2>
				<div class="gaps size-md"></div>
				<div class="blog-posts">
					<div class="row">
						<!-- // -->
						<div class="post post-boxed col-sm-4 res-s-bttm-lg">
							<div class="post-thumbs">
								<a href="#"><img alt="" src="{% static 'frontend/image/news-a.jpg' %}"></a>
								<div class="post-meta"><span class="pub-date"><strong>29</strong> Sep</span></div>
							</div>
							<div class="post-entry">
								
								<h3><a href="#">Time To Review Your Universal Life Policy</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt laboris nisi ut aliquip exeo...</p>
								<a class="btn-link link-arrow-sm" href="#">Read More</a>
							</div>
						</div>
						<!-- // -->
						<div class="post post-boxed col-sm-4 res-s-bttm-lg">
							<div class="post-thumbs">
								<a href="#"><img alt="" src="{% static 'frontend/image/news-b.jpg' %}"></a>
								<div class="post-meta"><span class="pub-date"><strong>12</strong> Sep</span></div>
							</div>
							<div class="post-entry">
								<h3><a href="#">Home Improvement: Contractor Vs. Do-It-Yourself</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt laboris nisi ut aliquip post...</p>
								<a class="btn-link link-arrow-sm" href="#">Read More</a>
							</div>
						</div>
						<!-- // -->
						<div class="post post-boxed col-sm-4">
							<div class="post-thumbs">
								<a href="#"><img alt="" src="{% static 'frontend/image/news-c.jpg' %}"></a>
								<div class="post-meta"><span class="pub-date"><strong>12</strong> Sep</span></div>
							</div>
							<div class="post-entry">
								<h3><a href="#">5 Tips For A More Secure Workplace</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt laboris nisi ut aliquip post...</p>
								<a class="btn-link link-arrow-sm" href="#">Read More</a>
							</div>
						</div>
						<!-- // -->
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- End Section -->
	<!-- Client logo -->
	<div class="section section-logos section-pad-sm">
		<div class="container">
			<div class="content row">
				<h3 class="heading-sm-lead ucap center">COMPANIES WE REPRESENT</h3>
				<div class="owl-carousel loop logo-carousel style-v1">
					<div class="logo-item"><img alt="" width="140" height="55" src="{% static 'frontend/image/partner-logo-c1.jpg' %}"></div>
					<div class="logo-item"><img alt="" width="140" height="55" src="{% static 'frontend/image/partner-logo-c2.jpg' %}"></div>
					<div class="logo-item"><img alt="" width="140" height="55" src="{% static 'frontend/image/partner-logo-c3.jpg' %}"></div>
					<div class="logo-item"><img alt="" width="140" height="55" src="{% static 'frontend/image/partner-logo-c4.jpg' %}"></div>
					<div class="logo-item"><img alt="" width="140" height="55" src="{% static 'frontend/image/partner-logo-c5.jpg' %}"></div>
					<div class="logo-item"><img alt="" width="140" height="55" src="{% static 'frontend/image/partner-logo-c6.jpg' %}"></div>
					<div class="logo-item"><img alt="" width="140" height="55" src="{% static 'frontend/image/partner-logo-c7.jpg' %}"></div>
					<div class="logo-item"><img alt="" width="140" height="55" src="{% static 'frontend/image/partner-logo-c8.jpg' %}"></div>
				</div>

			</div>
		</div>
	</div>
	<!-- End Section -->
	<!-- Call Action -->
	<div class="call-action bg-primary">
		<div class="cta-block">
			<div class="container">
				<div class="content row">

					<div class="cta-sameline">
						<h3>Commercial Insurance / Personal Insurance</h3>
						<p>Don't wait until it's too late. Contact for all of your personal and commercial insurance.</p>
						<a class="btn btn-outline" href="get-a-quote.html">Get A Quote</a>
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}