{% extends "frontend/base.html" %}
{% load static i18n %}
{% block hero_in %}
    <section id="hero">
        <div class="intro_title">
            <h3 class="animated fadeInDown">{% trans "Affordable, Reliable Insurance for Your Peace of Mind." %}</h3>
            <p class="animated fadeInDown">{% trans "Protect what matters most with personalized insurance plans for health, home, and auto." %}</p>
            <a class="animated fadeInUp button_intro outline" href="" class="animated fadeInUp button_intro" style="background-color: #243A3F;">{% trans "Get a Quote Now" %}</a>
		    </div>
    </section>
{% endblock %} 
{% block content %}
  <div class="white_bg-7">
      <div class="container margin_60">
         <div class="row-box">
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="card bg-stv">
                        <a>
                            <img src="{% static 'frontend/img/vector.svg' %}" alt="{% trans "svg" %}" class="img-fluid">
                            <div class="mgt-text">
                                <h3>Peace of Mind</h3>
                                <p>With our comprehensive insurance plans, you can live worry-free knowing that your assets are fully protected.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="card bg-stv">
                        <a>
                            <img src="{% static 'frontend/img/vector.svg' %}" alt="{% trans "svg" %}" class="img-fluid">
                            <div class="mgt-text">
                                <h3>Set For Life</h3>
                                <p>Our tailored solutions ensure you’re prepared for whatever life throws your way. From unexpected events to long-term security.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="card mgt">
                        <a>
                            <img src="{% static 'frontend/img/vector-mgt.svg' %}" alt="{% trans "svg" %}" class="img-fluid">
                            <div class="mgt-text">
                                <h3>100% Satisfaction</h3>
                                <p>Your trust is our priority. With a commitment to exceptional service and seamless claims processing, we guarantee your satisfaction.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
         </div>
        <div class="box-st">
            <div class="row">
                <div class="col-md-4">
                    <h3>About us </h3>
                    <p>america national insurance has been a trusted partner in providing tailored insurance solutions. Our mission is simple: to protect what matters most to you—your health, home, and vehicles.
                      Backed by a dedicated team and a commitment to exceptional service, we ensure peace of mind at every step.</p>
                    <div class="md-tg">
                        <a href=""> Learn More About Us </a>
                    </div>
                </div>
                    <div class="img-box">
                        <div class="img-box-2">
                            <img src="{% static 'frontend/img/ivg.png' %}" alt="{% trans "svg" %}" class="img-fluid">
                            <img src="{% static 'frontend/img/ivgt.png' %}" alt="{% trans "svg" %}" class="img-fluid">
                        </div>
                        <div class="img-box-3">
                            <img src="{% static 'frontend/img/mtgt.png' %}" alt="{% trans "svg" %}" class="img-fluid">    
                        </div>
                    </div>
            </div>
        </div>
        <div class="mybox">
            <h3>Services</h3>
            <div class="row client_review_slider">
                <div class="box b2">
                    <img src="{% static 'frontend/img/b2.png' %}" alt="">
                    <a href="">
                        <img src="{% static 'frontend/img/66-voucher.svg' %}" alt="{% trans "svg" %}" class="img-fluid">
                        <p>Car Insurance</p>
                        <div class="text-w">
                            Drive worry-free with our trusted plans.
                        </div>
                    </a>
                </div>
                <div class="box b3">
                    <img src="{% static 'frontend/img/b3.png' %}" alt="">
                    <a href="">
                        <img src="{% static 'frontend/img/4-activity.svg' %}" alt="{% trans "svg" %}" class="img-fluid">
                        <p>Home Insurance</p>
                        <div class="text-w">
                            Protect your home from the unexpected
                        </div>
                    </a>
                </div>
                <div class="box b4">
                    <img src="{% static 'frontend/img/b4.png' %}" alt="">
                    <a href="">
                        <img src="{% static 'frontend/img/7-chart-oxy.svg' %}" alt="{% trans "svg" %}" class="img-fluid">
                        <p>Health Insurance</p>
                        <div class="text-w">
                            Comprehensive coverage for your medical needs
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="section-box">
            <div class="intro_sec">
                <h3>Why choose our services for your guarantee insurance?</h3>
                <div class="row">
                    <div class="col-9">
                        <img src="{% static 'frontend/img/check_list.svg' %}" alt="">
                        <div class="text-wt">
                            <h4>Tailored Solutions</h4>
                        </div>
                        <div class="tp">Our plans are customized to meet your unique needs, ensuring you get the exact coverage you require</div>
                    </div>
                    <div class="col-9">
                        <img src="{% static 'frontend/img/check_list.svg' %}" alt="">
                        <div class="text-wt">
                            <h4>Affordable Premiums</h4>
                        </div>
                        <div class="tpg">Enjoy comprehensive coverage at rates that fit your budget, without compromising on quality.</div>
                    </div>
                    <div class="col-9">
                        <img src="{% static 'frontend/img/check_list.svg' %}" alt="">
                        <div class="text-wt">
                            <h4>24/7 Accessibility</h4>
                        </div>
                        <div class="tps">Access your policy information or reach out to us anytime, anywhere. </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="section-box-8">
            <div class="row">
                <div class="column">
                    <div class="column-ch">
                        <h2>Get a free consultation</h2>
                        <p>Please fill out the form and experts will contact you shortly </p>
                        <img src="{% static 'frontend/img/percent-box.svg' %}" alt="">
                        <h3>76%</h3>
                        <h6>of requests are resolved in favor of the client, if there is a request within 24 hours</h6>
                    </div>
                </div>
                <div class="column">
                    <form class="column-text-form" action="" >
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" placeholder="Name">
                        <label for="name">phone:</label>
                        <input type="tel" id="name" name="phone" placeholder="Phone">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="Email">
                        <button type="submit">Get a Quota now</button>
                    </form>
                </div>
            </div>

        </div>
      </div>
  </div>
  
{% endblock %}

{% block extra_js %}
{% endblock %}
