{% extends "frontend/base.html" %}
{% load static  %}

{% block extra_css %}
    <style>
        .section-contents{
            padding-top: 0px;
            padding-left: 350px;
            padding-right: 0px;
        }
        @media only screen and (max-width: 767px) {
            .section-contents {
                padding-left: 0px;
                float: none;
            }
        }
        .contact-content h5{
            text-align: center;
        }
  
    </style>
{% endblock %}

{% block content %}

    <!-- Content -->
    <div class="section section-contents section-contact section-pad">
    <div class="container">
        <div class="content row">

            <div class="contact-content row">
                <div class="drop-message col-md-8 pad-r res-m-bttm">
                    <div class="gaps size-lg"></div>
                    <div class="clear"></div>
                    <h5>Complete and submit the form below</h5>						
                    <form id="quote-contact-request" class="form-message" action="" method="post">
                        <div class="form-results"></div>
                        <div class="form-group row">
                            <div class="form-field col-md-6 form-m-bttm">
                                <input name="contact-name" type="text" placeholder="Name *" class="form-control required">
                            </div>
                            <div class="form-field col-md-6">
                                <input name="contact-email" type="email" placeholder="Email *" class="form-control required email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-field col-md-6 form-m-bttm">
                                <input name="contact-phone" type="text" placeholder="Phone *" class="form-control required">
                            </div>
                            <div class="form-field col-md-6">
                                <input name="contact-cell" type="text" placeholder="Cell Phone" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-field col-md-6 form-m-bttm">
                                <input name="contact-address" type="text" placeholder="Address" class="form-control">
                            </div>
                            <div class="form-field col-md-6">
                                <input name="contact-citystate" type="text" placeholder="City, State, Zip" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-field col-md-6 form-m-bttm">
                                <input name="contact-service" type="text" placeholder="Type of Product Interest" class="form-control">
                            </div>
                            <div class="form-field col-md-6">
                                <input name="contact-besttime" type="text" placeholder="Best time to reach" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-field col-md-12">
                                <textarea name="contact-message" placeholder="Messages / Question *" class="txtarea form-control required"></textarea>
                            </div>
                        </div>
                        <input type="text" class="hidden" name="form-anti-honeypot" value="">
                        <button type="submit" class="btn solid-btn sb-h">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    </div>
    <!-- End Content -->


{% endblock %}