{% extends "frontend/base.html" %}
{% load static  %}

{% block content %}
    <!-- Banner -->
    <div class="banner banner-static has-bg light-filter">
        <div class="banner-cpn">
            <div class="container">
                <div class="content row">

                    <div class="banner-text">
                        <h1 class="page-title">Individual &amp; Family <br>
                        Health Insurance</h1>
                        <p class="lead">Health insurance plans that fit you and your family.</p>
                    </div>
                    <div class="banner-sider">
                        <div class="boxed boxed-w">
                            <p>For an insurance call 800-123-6789 or online quote on other insurance options...</p>
                            <a href="get-a-quote.html" class="btn-link link-arrow">Free Online Quote</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="banner-bg-5 imagebg-5">
            <img src="{% static 'frontend/image/banner-life.jpg' %}" alt=""/>
        </div>
    </div>
    <!-- End Banner -->
    </header>
    <!-- End Header -->
    <!-- Content -->
    <div class="section section-contents section-pad">
    <div class="container">
        <div class="content row">

            <h2>Affordable life/health insurance for you &amp; your family</h2>
            <p><img src="{% static 'frontend/image/photo-md-c.jpg' %}" class="alignright col-md-5" alt="">Cover medical, dental and vision care for everyone in ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. Aut odit aut fugit, sed quia conseq uuntur magni dolores eos qui ratione volu ptatem sequi nesciunt. Neque porro quiuam est, qui dolorem ipsum quia dolor sit non amet.</p>
            <p><strong>We helps you with all your insurance, such as</strong>:</p>
            <ul class="list-style dots">
                <li>What the t perspiciatis unde omnis</li>
                <li>How to iste natus erwor sit voluptatem</li>
                <li>How much accus antium dolore mque laudantium</li>
                <li>How to totam rem aperiam inventore</li>
            </ul>
            <div class="gaps size-xs"></div>
            <p>Our Health Insurance provides health plan Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia conseq uuntur magni dolores eos qui ratione volu ptatem sequi nesciunt. Neque porro quiuam est, qui dolorem ipsum quia dolor sit non amet, consecte ipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat.</p>
            <hr>
            <h3>Shelter your family from sudden large expenditures</h3>				
            <div class="row row-column-md">
                <div class="col-md-6">
                    <div class="box bg-light round pd-x4">
                        <h4 class="color-primary">Understanding health insurance</h4>
                        <p>Medical insurance can be complicated. Enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box bg-light round pd-x4">
                        <h4 class="color-primary">Pick the plan that fits you</h4>
                        <p>Everyone is different, so it’s important to vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et molestias.</p>
                    </div>
                </div>
            </div>
            <div class="gaps size-md"></div>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>
            <p class="lead">Get things started with a <a href="#">free online quote</a> today.</p>
            

        </div>
    </div>
    </div>
    <!-- End content -->
    <!-- Content -->
    <div class="section section-contents section-pad bg-light">
    <div class="container">
        <div class="content row">
                
            <h2>What’s covered with life &amp; health insurance?</h2>
            <div class="row row-column-md mgtop-md">
                <div class="col-sm-4">
                    <div class="image"><img src="{% static 'frontend/image/photo-sm-a.jpg' %}" alt=""></div>
                    <h5>Critical Illness Insurance</h5>
                    <p>You are covered sed quia non numquam empora incidunt ut lare et dolore magnam aliquam.</p>
                </div>
                <!-- // -->
                <div class="col-sm-4">
                    <div class="image"><img src="{% static 'frontend/image/photo-sm-b.jpg' %}" alt=""></div>
                    <h5>Health &amp; Dental Insurance</h5>
                    <p>This covers any loss porro quiuam est qui dolorem ipsum quia dolor sit non amet velit sed quia.</p>
                </div>
                <!-- // -->
                <div class="col-sm-4">
                    <div class="image"><img src="{% static 'frontend/image/photo-sm-c.jpg' %}" alt=""></div>
                    <h5>Travel Insurance</h5>
                    <p>This coverage can be quia voluptas sit aspeatur aut odit aut conseq uuntur magni dolores eos.</p>
                </div>
            </div>
                
        </div>
    </div>
    </div>
    <!-- End content -->

    <!-- Call Action -->
    <div class="call-action bg-primary">
    <div class="cta-block">
        <div class="container">
            <div class="content row">

                <div class="cta-sameline">
                    <h3>Commercial Insurance / Personal Insurance</h3>
                    <p>Don't wait until it's too late. Contact for all of your personal and commercial insurance.</p>
                    <a class="btn btn-outline" href="get-a-quote.html">Get A Quote</a>
                </div>

            </div>
        </div>
    </div>
    </div>

{% endblock %}